form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.container{
    padding: 20px;

}
input{
    padding: 10px;
}
button{
    background-color: blue;
    padding: 10px;
    border-radius: 12px;
    color: white;
}
button:hover{
    background-color: aqua;
    color: grey;
}